tr.positon-relative
    td
        a(href="#")
            i(class="fal fa-times-circle")
    td
        a(href="") 
            img.img-fluid.img-wishlist(src="https://azgundam.com/wp-content/uploads/2021/01/SD-CS-Hello-Kitty-Zaku-II-AZGUNDAM-5-510x510.jpg", alt="")
    td HG BF 007 Sengoku Astray
    td 469.000₫
    td In Stock
    td 
        button.btn.btn-danger Mua ngay 