tr.positon-relative
    td
        a(href="#")
            i(class="fal fa-times-circle")
    td
        a(href="") 
            img.img-fluid.img-wishlist(src=product.image[0], alt="")
    td= product.name
    td= product.price.toLocaleString('vi', {style : 'currency', currency : 'VND'})	
    if (product.status)
        td In Stock
    else
        td Out Stock
    if (product.status)
        td 
            button.btn.btn-danger Mua ngay 