doctype html
html(lang='en')
  head
    // Required meta tags
    meta(charset='utf-8')
    |   
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    |   
    title AATOYS Admin
    // plugins:css
    link(rel='stylesheet', href='/assets/admin/vendors/mdi/css/materialdesignicons.min.css')
    |   
    link(rel='stylesheet', href='/assets/admin/vendors/base/vendor.bundle.base.css')
    // endinject
    // plugin css for this page
    link(rel='stylesheet', href='/assets/admin/vendors/datatables.net-bs4/dataTables.bootstrap4.css')
    // End plugin css for this page
    // inject:css
    link(rel='stylesheet', href='/assets/admin/css/style.css')
    // endinject
    link(rel='shortcut icon', href='/assets/admin/images/favicon.png')
  body
    .container-scroller
      // partial:partials/_navbar.html
      include ./navbar
      // partial
      .container-fluid.page-body-wrapper
        // partial:partials/_sidebar.html
        include ./sidebar
        // partial
        .main-panel
          .content-wrapper
            block contents
          // content-wrapper ends
        // main-panel ends
      // page-body-wrapper ends
    // container-scroller
    // plugins:js
    script(src='/assets/admin/vendors/base/vendor.bundle.base.js')
    // endinject
    // Plugin js for this page
    script(src='/assets/admin/vendors/chart.js/Chart.min.js')
    |   
    script(src='/assets/admin/vendors/datatables.net/jquery.dataTables.js')
    |   
    script(src='/assets/admin/vendors/datatables.net-bs4/dataTables.bootstrap4.js')
    // End plugin js for this page
    // inject:js
    script(src='/assets/admin/js/off-canvas.js')
    |   
    script(src='/assets/admin/js/hoverable-collapse.js')
    |   
    script(src='/assets/admin/js/template.js')
    // endinject
    // Custom js for this page
    script(src='/assets/admin/js/dashboard.js')
    |   
    script(src='/assets/admin/js/data-table.js')
    |   
    script(src='/assets/admin/js/jquery.dataTables.js')
    |   
    script(src='/assets/admin/js/dataTables.bootstrap4.js')
    // End custom js for this page
