.text-white{
    color: white !important;
}

.text-black{
    color: black !important;
}

.text-orange{
    color: orange !important;
}

.d-contents{
    display: contents !important;
}

.bg-black{
    background-color: black !important;
}