@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

html, body{
    height: 100%;
    margin: 0;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

main{
    min-height: 100%;
}

a{
    text-decoration: none;
    color: black;
    transition: color 0.2s;
}

a:hover{
    color: #ba933e;
}

h1.inform-null{
    text-align: center;
    margin-top: 25%;
}

/* Header */
header{
    background-color: black !important;

}

header a.dropdown-item:focus{
    background-color: #AAA;
}

header .header-left{
    position: relative;
}

header .header-left form{
    width: 100%;
}

header .header-left button{
    position: absolute;
    z-index: 1;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    background-color: transparent;
    border: none;
}

header a:hover{
    color: #888;
}

header i{
    transition: color 0.3s;
}

header i:hover{
    color: #ba933e;
}

header .header-center a{
    display: contents;
}

header .header-center img{
    width: 15%;
}

header .header-right a{
    color: white;
    font-size: 1.5em;
    padding: 0 16px;
    
}

header .header-right i{
    position: relative;
}

header .header-right span.badge{
    font-size: 10px;
    right: -10px;
    top: -5px;
    position: absolute;
}

header nav{
    background-color: black !important;
}

nav .navbar-brand{
    font-family: 'Syne Mono', monospace;
}

nav .nav-item{
    margin: 0 16px;
}

.gundam-menu a.nav-link,
.tools-menu a.nav-link,
.paints-menu a.nav-link,
.other-menu a.nav-link{
    transition: color 0.5s;
}

.gundam-menu:hover a.nav-link,
.tools-menu:hover a.nav-link,
.paints-menu:hover a.nav-link,
.other-menu:hover a.nav-link,
a.figures:hover{
    color: #ba933e !important;
}

.gundam-sub,
.tools-sub,
.paints-sub,
.other-sub{
    box-shadow: 1px 1px 4px rgba(0,0,0,.3);
}

.gundam-menu:hover .gundam-sub,
.tools-menu:hover .tools-sub,
.paints-menu:hover .paints-sub,
.other-menu:hover .other-sub{
    display: block;
}

.has-sub a{
    text-transform: uppercase;
}

/* Products Card */
a.card-link{
    text-decoration: none;
}

.card{
    border: none !important;
    transition: 0.5s;
}

.card .card-body{
    position: relative;
}

.card-body .quick-view{
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    font-size: 18px;
    position: absolute;
    font-weight: 300;
    top: -15%;
    left: 0;
    border: none;
    transform: translateY(50%);
    opacity: 0;
    transition: 0.8s;
    z-index: 9999;
}

.quick-view:hover{
    background-color: rgb(213 14 14);
}

.card:hover .quick-view{
    transform: translateY(0);
    opacity: 1;
}

.card .card-body{ 
    min-height: 150px !important;
}

.product-wrapper:hover .card{
    box-shadow: 1px 1px 4px rgba(0,0,0,.5);
    transform: translateY(-15px);
}

.card .icon-favourite{
    font-size: 20px;
    position: absolute;
    right: -20px;
    top: 10px;
    transition: 0.5s;
    opacity: 0;
    background-color: white;
    box-shadow: 1px 1px 4px rgba(0,0,0,.5);
    padding: 2px 6px;
    border-radius: 5px;
}

.card .icon-addToCart{
    font-size: 20px;
    position: absolute;
    right: -30px;
    top: 50px;
    transition: 1s;
    opacity: 0;
    background-color: white;
    box-shadow: 1px 1px 4px rgba(0,0,0,.5);
    padding: 2px 6px;
    border-radius: 5px;
}

.card .icon-favourite:hover,
.card .icon-addToCart:hover{
    background-color: black;
}

.icon-favourite i,
.icon-addToCart i{ 
    color: black !important;
}

a.icon-favourite:hover i,
a.icon-addToCart:hover i{
    color: white !important;
}

.card:hover a.icon-favourite,
.card:hover a.icon-addToCart{
    right: 10px;
    opacity: 1;
}

.card img{
    min-height: 50%;
}

.card .product-name{
    color: black;
    font-size: 16px;
}

.card .text-price{
    color: black;
    font-weight: bold;
    margin: 8px;
}

.card .purchase-cost{
    color: #CCC;
    font-weight: 300;
}

.price-wrapper{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* Product Detail */
.main-img{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-img{
    width: 100%;
}

.sub-img{
    height: 100%;
    overflow:hidden;
}

.description li{
    font-size: 20px;
    margin-left: 80px;
}

/* Product Category Side bar */
a.cate-name{
    transition: 0.2s;
}

li.product-category:hover a.cate-name{
    font-weight: bold;
    font-size: 18px;
}

/* Block action */

.block-action{
    color: black !important;
    display: flex;
    border: 1px solid #CCC;
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem;
}

.block-action i{
    font-size: 1.5rem;
}

.block-action span{
    font-size: 1.2rem;
    font-weight: bold;
}

/* Nice Number */

.nice-number input{
    width: 60px !important;
    text-align: center;
    border: none;
    background-color: #EEE;
}

.nice-number button{
    border: none;
    outline: none;
    border-radius: 10%;
    width: 30px !important;
    margin: 0 5px;
    background-color: black;
    color: white;
    transition: background-color 0.5s;
}

.nice-number button:hover{
    background-color: #ba933e !important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* Box Sale */
.box-sale-percent{
    color: white;
    background-color: red;
    font-size: 20px;
    font-weight: bold;
    padding: 8px;
    left: 0;
    top: 9%;
}

/* WishList */

.wish-list td:first{
    padding: 0;
    text-align: center;
    position: relative;
}

i.fa-times-circle{
    font-size: 30px;
}

.img-wishlist{
    width: 50px !important;
}

/* Cart */

.delivery-address{
    border-left: 1px solid #dee2e6;
}

table.table-delivery-address tr th,
table.table-delivery-address tr td{
    padding: 16px 0;
}

.img-wishlist{
    width: 50px;
}

td i.fa-tags{
    font-size: 20px;
    margin-right: 8px;
}

/* Footer */
footer{
    background-color: black;
}

footer .footer-left{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .img-footer{
    width: 50%;
}

footer .icon-social a{
    padding: 16px;
}

footer .icon-social a:hover i{
    color: #ba933e !important;
}

footer .icon-social i{
    color: white !important;
    font-size: 25px !important;
    transition: color 0.5s;;
}

footer .footer-center{
    color: white;
}

footer .footer-right{
    color: white;
}

footer .footer-right ul{
    list-style: none;
}

footer .footer-right li{
    padding: 16px;
}

footer .footer-right i{
    font-size: 30px;
}

/* Paggination */
li.page-item{
    border-radius: 100% !important;
}

a.page-link{
    border-radius: 100% !important;
    margin: 0 16px;
    color: black;
    transition: all 0.5s;
}

a.page-link:hover{
    background-color: #ba933e;
    color: white;
}

/* Product Category */

ul.gundam-cate a,
ul.tools-cate a,
ul.paints-cate a{
   text-transform: uppercase;
}


@media (max-width: 1200px){
    .card .btn-cart{
        width: 60%;
    }
}