@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

html, body{
    height: 100%;
    margin: 0;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

main{
    min-height: 100%;
}

a{
    text-decoration: none;
    color: black;
    transition: color 0.2s;
}

a:hover{
    color: #ba933e;
}

/* Header */
header{
    background-color: black !important;
}

header .header-left{
    position: relative;
}

header .header-left a{
    position: absolute;
    right: 5%;
    color: #888;
}

header a:hover{
    color: #888;
}

header i{
    transition: color 0.3s;
}

header i:hover{
    color: #ba933e;
}

header .header-center a{
    display: contents;
}

header .header-center img{
    width: 15%;
}

header .header-right a{
    color: white;
    font-size: 1.5em;
    padding: 0 16px;
    
}

header nav{
    background-color: black !important;
}

nav .navbar-brand{
    font-family: 'Syne Mono', monospace;
}

nav .nav-item{
    margin: 0 16px;
}

.gundam-menu a.nav-link,
.tools-menu a.nav-link,
.paints-menu a.nav-link,
.other-menu a.nav-link{
    transition: color 0.5s;
}

.gundam-menu:hover a.nav-link,
.tools-menu:hover a.nav-link,
.paints-menu:hover a.nav-link,
.other-menu:hover a.nav-link,
a.figures:hover{
    color: #ba933e !important;
}

.gundam-menu:hover .gundam-sub,
.tools-menu:hover .tools-sub,
.paints-menu:hover .paints-sub,
.other-menu:hover .other-sub{
    display: block;
}

.has-sub a{
    text-transform: uppercase;
}

/* Products Card */
a.card-link{
    text-decoration: none;
}

.card{
}

.card img{
    min-height: 50%;
}

.card .card-body{
}

.card h5.card-title{
}

.card .product-name{
    color: black;
    font-weight: bold;
}

.card .product-price{
}

.card .text-price{
    color: red;
    font-weight: bold;
    margin: 8px;
}

.card .purchase-cost{
    color: orange
}

.card .btn-cart{
    width: 40%;
    background-color: red;
    outline: none;
    border: none;
}

.card .btn-cart:hover{
    background-color: #9e1f05;
}

/* Footer */
footer{
    background-color: black;
}

footer .footer-left{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .img-footer{
    width: 50%;
}

footer .icon-social a{
    padding: 16px;
}

footer .icon-social a:hover i{
    color: #ba933e !important;
}

footer .icon-social i{
    color: white !important;
    font-size: 25px !important;
    transition: color 0.5s;;
}

footer .footer-center{
    color: white;
}

footer .footer-right{
    color: white;
}

footer .footer-right ul{
    list-style: none;
}

footer .footer-right li{
    padding: 16px;
}

footer .footer-right i{
    font-size: 30px;
}

/* Paggination */
li.page-item{
    border-radius: 100% !important;
}

a.page-link{
    border-radius: 100% !important;
    margin: 0 16px;
    color: black;
    transition: all 0.5s;
}

a.page-link:hover{
    background-color: #ba933e;
    color: white;
}

/* Product Category */

ul.gundam-cate a,
ul.tools-cate a,
ul.paints-cate a{
   text-transform: uppercase;
}


@media (max-width: 1200px){
    .card .btn-cart{
        width: 60%;
    }
}