.sidebar-filter
    .sidebar-widget
        h3.section-title Shop by
        .widget-header
            h4.widget-title Category
        .sidebar-widget-body
            .accordion
                .accordion-group
                    .accordion-heading
                        a.accordion-toggle.collapsed(href='#collapseOne', data-toggle='collapse')  Camera 
                    // /.accordion-heading
                    #collapseOne.accordion-body.collapse(style='height: 0px;')
                        .accordion-inner
                            ul
                                li
                                                            a(href='#') gaming
                                li
                                    a(href='#') office
                                li
                                    a(href='#') kids
                                li
                                    a(href='#') for women
                    // /.accordion-inner
                // /.accordion-body
                // /.accordion-group
                .accordion-group
                    .accordion-heading
                        a.accordion-toggle.collapsed(href='#collapseTwo', data-toggle='collapse')  Desktops 
                    // /.accordion-heading
                    #collapseTwo.accordion-body.collapse(style='height: 0px;')
                        .accordion-inner
                            ul
                                li
                                    a(href='#') gaming
                                li
                                    a(href='#') office
                                li
                                    a(href='#') kids
                                li
                                    a(href='#') for women
                        // /.accordion-inner
                    // /.accordion-body
                // /.accordion-group
                .accordion-group
                    .accordion-heading
                        a.accordion-toggle.collapsed(href='#collapseThree', data-toggle='collapse')  Pants 
                    // /.accordion-heading
                    #collapseThree.accordion-body.collapse(style='height: 0px;')
                        .accordion-inner
                            ul
                                li
                                    a(href='#') gaming
                                li
                                    a(href='#') office
                                li
                                    a(href='#') kids
                                li
                                    a(href='#') for women
                        // /.accordion-inner
                    // /.accordion-body
                // /.accordion-group
                .accordion-group
                    .accordion-heading
                        a.accordion-toggle.collapsed(href='#collapseFour', data-toggle='collapse')  Bags 
                    // /.accordion-heading
                    #collapseFour.accordion-body.collapse(style='height: 0px;')
                        .accordion-inner
                            ul
                                li
                                    a(href='#') gaming
                                li
                                    a(href='#') office
                                li
                                    a(href='#') kids
                                li
                                    a(href='#') for women
                        // /.accordion-inner
                // /.accordion-body
                // /.accordion-group
                .accordion-group
                    .accordion-heading
                        a.accordion-toggle.collapsed(href='#collapseFive', data-toggle='collapse')  Hats 
                    // /.accordion-heading
                    #collapseFive.accordion-body.collapse(style='height: 0px;')
                        .accordion-inner
                            ul
                                li
                                    a(href='#') gaming
                                li
                                    a(href='#') office
                                li
                                    a(href='#') kids
                                li
                                    a(href='#') for women
                        // /.accordion-inner
                    // /.accordion-body
                // /.accordion-group
                .accordion-group
                    .accordion-heading
                        a.accordion-toggle.collapsed(href='#collapseSix', data-toggle='collapse')  Accessories 
                    // /.accordion-heading
                    #collapseSix.accordion-body.collapse(style='height: 0px;')
                        .accordion-inner
                            ul
                                li
                                    a(href='#') gaming
                                li
                                    a(href='#') office
                                li
                                    a(href='#') kids
                                li
                                    a(href='#') for women
                        // /.accordion-inner
                    // /.accordion-body
                // /.accordion-group
            // /.accordion
        // /.sidebar-widget-body
// /.sidebar-widget
// ============================================== SIDEBAR CATEGORY : END ==============================================
// ============================================== PRICE SILDER==============================================
.sidebar-widget
    .widget-header
        h4.widget-title Price Slider
    .sidebar-widget-body.m-t-10
        .price-range-holder
            span.min-max
                span.pull-left $200.00
                span.pull-right $800.00
            input#amount(type='text', style='border:0; color:#666666; font-weight:bold;text-align:center;')
            input.price-slider(type='text', value='')
        a.lnk.btn.btn-primary(href='#') Show Now
// ============================================== PRICE SILDER : END ==============================================
// ============================================== MANUFACTURES==============================================