extends ../layouts/layout
block contents 
    .container 
        p.h1.text-center.fw-bold.mt-5 Sale Products
        p.h6.text-center.mb-5 Top sales in week
        .row.mb-5
            each product in products
                .col-lg-2.product-wrapper
                    include ../products/card-product
        
        p.h1.text-center.fw-bold.mt-5 Best Seller Products
        p.h6.text-center.mb-5 Best seller in week
        .row.mb-5
            each product in products
                .col-lg-2.product-wrapper
                    include ../products/card-product

        p.h1.text-center.fw-bold.mt-5 New Products
        p.h6.text-center.mb-5 New products in week
        .row.mb-5
            each product in products
                .col-lg-2.product-wrapper 
                    include ../products/card-product
        