extends ../layouts/layout
block contents 
    .container 
        .row 
            .col-3.my-3 
                a.card-link(href='#')
                    .card.text-center
                        img.card-img-top(src='https://azgundam.com/wp-content/uploads/2021/02/RG-MSN-02-ZEONG-AZGUNDAM-6-247x296.jpg?b3ddb4&b3ddb4', alt='...')
                        .card-body
                            h5.card-title.product-name Product name
                            .product-price.d-flex.justify-content-around
                                p.text-price.text-decoration-line-through.purchase-cost 499.000&#x20AB;
                                p.text-price 459.000&#x20AB;
                            a.btn.btn-primary.btn-cart(href='#') Cart
            .col-3.my-3 
                a.card-link(href='#')
                    .card.text-center
                        img.card-img-top(src='https://azgundam.com/wp-content/uploads/2021/02/RG-MSN-02-ZEONG-AZGUNDAM-6-247x296.jpg?b3ddb4&b3ddb4', alt='...')
                        .card-body
                            h5.card-title.product-name Product name
                            .product-price.d-flex.justify-content-around
                                p.text-price.text-decoration-line-through.purchase-cost 499.000&#x20AB;
                                p.text-price 459.000&#x20AB;
                            a.btn.btn-primary.btn-cart(href='#') Cart
            .col-3.my-3 
                a.card-link(href='#')
                    .card.text-center
                        img.card-img-top(src='https://azgundam.com/wp-content/uploads/2021/02/RG-MSN-02-ZEONG-AZGUNDAM-6-247x296.jpg?b3ddb4&b3ddb4', alt='...')
                        .card-body
                            h5.card-title.product-name Product name
                            .product-price.d-flex.justify-content-around
                                p.text-price.text-decoration-line-through.purchase-cost 499.000&#x20AB;
                                p.text-price 459.000&#x20AB;
                            a.btn.btn-primary.btn-cart(href='#') Cart
            .col-3.my-3 
                a.card-link(href='#')
                    .card.text-center
                        img.card-img-top(src='https://azgundam.com/wp-content/uploads/2021/02/RG-MSN-02-ZEONG-AZGUNDAM-6-247x296.jpg?b3ddb4&b3ddb4', alt='...')
                        .card-body
                            h5.card-title.product-name Product name
                            .product-price.d-flex.justify-content-around
                                p.text-price.text-decoration-line-through.purchase-cost 499.000&#x20AB;
                                p.text-price 459.000&#x20AB;
                            a.btn.btn-primary.btn-cart(href='#') Cart
        .row 
            .col-3.my-3 
                a.card-link(href='#')
                    .card.text-center
                        img.card-img-top(src='https://azgundam.com/wp-content/uploads/2021/02/RG-MSN-02-ZEONG-AZGUNDAM-6-247x296.jpg?b3ddb4&b3ddb4', alt='...')
                        .card-body
                            h5.card-title.product-name Product name
                            .product-price.d-flex.justify-content-around
                                p.text-price.text-decoration-line-through.purchase-cost 499.000&#x20AB;
                                p.text-price 459.000&#x20AB;
                            a.btn.btn-primary.btn-cart(href='#') Cart
            .col-3.my-3 
                a.card-link(href='#')
                    .card.text-center
                        img.card-img-top(src='https://azgundam.com/wp-content/uploads/2021/02/RG-MSN-02-ZEONG-AZGUNDAM-6-247x296.jpg?b3ddb4&b3ddb4', alt='...')
                        .card-body
                            h5.card-title.product-name Product name
                            .product-price.d-flex.justify-content-around
                                p.text-price.text-decoration-line-through.purchase-cost 499.000&#x20AB;
                                p.text-price 459.000&#x20AB;
                            a.btn.btn-primary.btn-cart(href='#') Cart
            .col-3.my-3 
                a.card-link(href='#')
                    .card.text-center
                        img.card-img-top(src='https://azgundam.com/wp-content/uploads/2021/02/RG-MSN-02-ZEONG-AZGUNDAM-6-247x296.jpg?b3ddb4&b3ddb4', alt='...')
                        .card-body
                            h5.card-title.product-name Product name
                            .product-price.d-flex.justify-content-around
                                p.text-price.text-decoration-line-through.purchase-cost 499.000&#x20AB;
                                p.text-price 459.000&#x20AB;
                            a.btn.btn-primary.btn-cart(href='#') Cart
            .col-3.my-3
                a.card-link(href='#')
                    .card.text-center
                        img.card-img-top(src='https://azgundam.com/wp-content/uploads/2021/02/RG-MSN-02-ZEONG-AZGUNDAM-6-247x296.jpg?b3ddb4&b3ddb4', alt='...')
                        .card-body
                            h5.card-title.product-name Product name
                            .product-price.d-flex.justify-content-around
                                p.text-price.text-decoration-line-through.purchase-cost 499.000&#x20AB;
                                p.text-price 459.000&#x20AB;
                            a.btn.btn-primary.btn-cart(href='#') Cart