extends ../layouts/layout
block contents 
    .container 
        .row 
            .col-lg-2.col-md-4.col-sm-2     
                include ../layouts/compornents/side-categories
                -var specialProducts_1= data[8]
                -var specialProducts_2= data[8]
                -var specialProducts_3= data[8]
                include ../layouts/compornents/special-offer
                -var saleProducts = data[6]
                include ../layouts/compornents/hot-deal
                include ../layouts/compornents/member-description
            .col-lg-10.col-md-8.col-sm-10
                include ../layouts/compornents/slider
                -var title = "Sản phẩm mới"
                include ../layouts/compornents/feature-products
                    block products 
                        each product in data[5]
                            include ../layouts/compornents/product
                -title = "Sản phẩm bán chạy"
                include ../layouts/compornents/feature-products
                    block products 
                        each product in data[6]
                            include ../layouts/compornents/product
                -title= "Đang giảm giá"
                include ../layouts/compornents/feature-products
                    block products 
                        each product in data[7]
                            include ../layouts/compornents/product