extends ./index
block variable 
    -var page = "password";
    -var title = "Thay đổi mật khẩu"
block content 
    form
        .form-group
            label.col-form-label Xác nhận mật khẩu cũ:
            input(type="password" id="email" class="form-control info_edit form-info" placeholder="Mật khẩu cũ" name="old-pass")
        .form-group
            label.col-form-label Mật khẩu mới:
            input(type="password" id="email" class="form-control info_edit form-info" placeholder="Mật khẩu mới" name="new-pass")
        .form-group
            label.col-form-label Xác nhận mật khẩu mới:
            input(type="password" id="email" class="form-control info_edit form-info" placeholder="Nhập lại mật khẩu mới" name="confirm-newPass")
        .form-group#group-btn
            label.col-form-label 
            button.btn.btn-primary(type="submit" style="margin-right: 10px;") Cập nhật
            button.btn.btn-danger(type="cancel") Hủy 