extends ../layouts/layout 
block contents
    .col-12.grid-margin.stretch-card
      .card
        .card-body
          h4.card-title= 'Edit '
          form.forms-sample(method="POST", action="/admin/detail-category/edit/" )
            .form-group
                input.form-control(type="text" value= order.date readonly)
            .form-group
                label(for="exampleSelectGender") Phương thức vận chuyển 
                select(class="form-control" id="exampleSelectGender" name="category")
                    each d in delivery 
                        option(value=d.content)= d.content 
            .form-group
                label(for="exampleSelectGender") Phương thức thanh toán
                select(class="form-control" id="exampleSelectGender" name="category")
                    each p in payment 
                        option(value=p.content)= p.content 
            .form-group
                label(for="payment_status") Trạng thái thanh toán
                select(class="form-control" id="payment_status" name="payment_status")
                    option(value="Chưa thanh toán" selected) Chưa thanh toán 
                    option(value="Đã thanh toán") Đã thanh toán 
            .form-group
                label(for="exampleSelectGender") Trạng thái đơn hàng
                select(class="form-control" id="exampleSelectGender" name="category")
                    option(value="Chờ xác nhận" selected) Chờ xác nhận
                    option(value="Đang giao hàng") Đang giao hàng
                    option(value="Hoàn thành") Hoàn thành
                    option(value="Đã hủy") Đã hủy
            button(type="submit" class="btn btn-primary mr-2") Submit
            button(class="btn btn-light") Cancel     