extends ../layouts/layout
block contents 
    .container(style="margin-top: 50px") 
        include ../layouts/compornents/detail-product
        -var title= "Sản phẩm liên quan"
        include ../layouts/compornents/feature-products
            block products
                include ../layouts/compornents/hot-product
                

                    
                