extends ../layouts/layout
block contents 
    .container
        .row.py-3
            .col-6
                nav(aria-label='breadcrumb')
                    ol.breadcrumb
                        li.breadcrumb-item
                            a(href='#') Home
                        li.breadcrumb-item
                            a(href='#') Library
                        li.breadcrumb-item.active(aria-current='page') Data
            .col-6
                select.form-select.w-50.ms-auto(aria-label='Default select example')
                    option Th&#x1EE9; t&#x1EF1; theo m&#x1EE9;c &dstrok;&#x1ED9; ph&#x1ED5; bi&#x1EBF;n
                    option(value='1') Th&#x1EE9; t&#x1EF1; theo &dstrok;&#x1ED9; &dstrok;&aacute;nh gi&aacute;
                    option(value='2', selected='') M&#x1EDB;i nh&#x1EA5;t
                    option(value='3') Gi&aacute;: Th&#x1EA5;p &dstrok;&#x1EBF;n cao
                    option(value='4') Gi&aacute;: Cao &dstrok;&#x1EBF;n th&#x1EA5;p
        .row
            .col-lg-2.col-md-3
                h5 Danh m&#x1EE5;c s&#x1EA3;n ph&#x1EA9;m
                include product-category
            .col-lg-10.col-md-9
                .container-fluid
                    .row
                        each product in products
                            .col-lg-3.col-md-6.my-3
                                include card-product
                        if (products.length !== 0)
                            include paggination